* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: black;
}

h1 {
    cursor: pointer;
    color: brown;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 20px;
}

.header-container {
    position: fixed;
    top: 0;
    z-index: 9999;
    background-color: black;
    width: 100%;
    color: #fff;
}

.header-container li {
    color: #fff;
}

.nav-container {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 20px;
    color: #fff;
    color: black;
}

.nav-container li {
    flex: 1;
    border: 1px solid black;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.movie-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    margin: 50px auto;
    width: 95%;
    margin-top: 200px;
}

.movie {
    padding: 10px;
    border: 1px solid black;
    background-color: #fff;
}

.movie img {
    width: 100%;
}

.filter-movie {
    width: 400px;
}